* {
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#1 {
  border: 2px solid red;
}

body {
  width: 100%;
  height: 100vh;
  /* background-image: url('/stripes.png'); */
  background-color: #1a1c1f;
}

#ecoCol {
  position: absolute;
  top: 36%;
}

.userInput {
  /* width: 25%; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  position: absolute;
  /* align-content: center; */
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#playBtn {
  /* width: 25%; */
  /* filter: drop-shadow(0 0 0.5rem #61892F); */
  border-radius: 25px;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* #playBtnDiv {
  filter: drop-shadow(0 0 0.5rem #61892F);
  -webkit-filter: drop-shadow(0 0 0.5rem #61892F);
} */

#playBtn {
  filter: drop-shadow(0 0 0.5rem #61892F);
  -webkit-filter: drop-shadow(0 0 0.5rem #61892F);
box-shadow: 0px 0px 5px green inset;

  border-radius: 25px;
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: #86c232;
}

#playBtn:hover {
  cursor: pointer;
}

#playBtn::before {
  border-radius: 25px;
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 4px solid #86c232;
  transform-origin: center;
  transform: scale(1);
}

#playBtn:hover::before {
  transition: all 0.75s ease-in-out;
  transform-origin: center;
  transform: scale(1.75);
  opacity: 0;
}

input {
  margin-top: 60% !important;
  border-radius: 25px;
  padding-left: 10px;
}

input[type=text]:focus {
  color: #222629;
}

/* Logo Load and animation */

#logoEco {
  filter: drop-shadow(0 0 0.4rem #6B6E70);
  width: 50%;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* animation-name: eco; */
  animation: eco 0.5s ease forwards 3.5s;
}

#logoBourne {
  filter: drop-shadow(0 0 0.4rem #61892F);
  width: 50%;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* animation-name: bourne; */
  animation: bourne 0.5s ease forwards 3.5s;
}

#text2 {
  filter: drop-shadow(1px 3px 1px #0d0e0f);
  width: 40%;
  position: absolute;
  top: 43%;
  left: 30%;
  /* transform: translate(-50%, -50%); */
}

#logoEco path:nth-child(1) {
  stroke-dasharray: 495;
  stroke-dashoffset: 495;
  animation: line-anim 2s ease forwards;
}

#logoEco path:nth-child(2) {
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  animation: line-anim 2s ease forwards 0.3s;
}

#logoEco path:nth-child(3) {
  stroke-dasharray: 430;
  stroke-dashoffset: 430;
  animation: line-anim 2s ease forwards 0.6s;
}

#logoBourne path:nth-child(1) {
  stroke-dasharray: 524;
  stroke-dashoffset: 524;
  animation: line-anim 2s ease forwards 0.9s;
}

#logoBourne path:nth-child(2) {
  stroke-dasharray: 430;
  stroke-dashoffset: 430;
  animation: line-anim 2s ease forwards 1.2s;
}

#logoBourne path:nth-child(3) {
  stroke-dasharray: 386;
  stroke-dashoffset: 386;
  animation: line-anim 2s ease forwards 1.5s;
}

#logoBourne path:nth-child(4) {
  stroke-dasharray: 217;
  stroke-dashoffset: 217;
  animation: line-anim 2s ease forwards 1.8s;
}

#logoBourne path:nth-child(5) {
  stroke-dasharray: 386;
  stroke-dashoffset: 386;
  animation: line-anim 2s ease forwards 2.1s;
}

#logoBourne path:nth-child(6) {
  stroke-dasharray: 495;
  stroke-dashoffset: 495;
  animation: line-anim 2s ease forwards 2.4s;
}

/* animations */

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes eco {
  from {
    fill: transparent;
  }
  to {
    fill: #6b6e70;
  }
}

@keyframes bourne {
  from {
    fill: transparent;
  }
  to {
    fill: #86c232;
  }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-delay: 4s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }

.fadeInNickname{
  filter: drop-shadow(0 0 0.4rem #61892F);
}
.fadeInNickname, #fadeInNickname {
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      animation-delay: 5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      }
      @-webkit-keyframes fadeIn {
      0% {opacity: 0;}
      100% {opacity: 1;}
      }
      @keyframes fadeIn {
      0% {opacity: 0;}
      100% {opacity: 1;}
      }
    


    .fadeIn, #playBtn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        animation-delay: 5.3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
        }
        @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
        }

/* end Logo Load  */

/* media queries */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */

  #ecoCol {
    position: absolute;
    top: 38%;
  }

  #text2 {
    width: 60%;
    position: absolute;
    top: 42%;
    left: 20%;
  }

  .userInput {
    /* width: 35%; */
    position: absolute;
    top: 46%;
    left: 50%;
  }

  #logoBourne {
    width: 80%;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* animation-name: bourne; */
    animation: bourne 0.5s ease forwards 3.5s;
  }
  #logoEco {
    width: 80%;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* animation-name: eco; */
    animation: eco 0.5s ease forwards 3.5s;
}
}  


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */

}
/* change height variables to pixels on screen size change  */