.stats {
    background: #b5b5b7;
    border-radius: 25px;
    padding: 25px;
    border: 2px solid #6B6E70;
    filter: drop-shadow(0 0 0.5rem #6B6E70);
    -webkit-filter: drop-shadow(0 0 0.5rem #6B6E70);
  box-shadow: 0px 0px 5px #6B6E70 inset;
}
.statsContainer {
    margin-top: 2%;
}

.animalTitle {
    font-weight: bold;
    font-size: 15px;
}
.animalTitle, .deathByStarvation, .deathByPreditor,
.deathByOldAge, .pop {
    color: #474B4F;
    font-weight: bold;
}
hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}




/* media queries */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */    

}

  /* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
 
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */

}