/* Styles */
#one {
  /* border: 2px solid red; */
}

.createForm {
  position: unset;
  transform: none;
  align-items: center;
}

.createForm {
  margin-top: 20%;
}

.pwordForm {
  margin-left: 0%;
}

.inputText {
  margin-bottom: 0rem;
  margin-top: 10px;
  color: white;
}

.email,
.username,
.pword,
.pwordConf {
  margin-top: 2% !important;
  border-radius: 25px;
  padding-left: 10px;
}

.signUpDiv {
  margin-top: 160px;
  margin-left: 45px;
}

#signupHeader {
  filter: drop-shadow(0 0 0.25rem #61892f);
  font-size: 1.5rem;
  margin-left: 70px;
}

/* login/play button  */
#loginPlaybtn {

  border-radius: 25px;
  top: 15px;
  left: 130px;
  font-weight: bold;
  border-radius: 25px;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: #86c232;
}

#loginPlaybtn:hover {
  cursor: pointer;
}

#loginPlaybtn::before {
  border-radius: 25px;
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 4px solid #86c232;
  transform-origin: center;
  transform: scale(1);
}

#loginPlaybtn:hover::before {
  transition: all 0.75s ease-in-out;
  transform-origin: center;
  transform: scale(1.75);
  opacity: 0;
}

/* animations */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeInBtn,
#loginPlaybtn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-delay: 3.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.signupTitle,
#signupTitle {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1.2s;
  animation-delay: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInEmail,
#fadeInEmail {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1.4s;
  animation-delay: 0.9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInUsername,
#fadeInUsername {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1.6s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInPW,
#fadeInPW {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1.8s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInPWConf,
#fadeInPWConf {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 2s;
  animation-delay: 2.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* media queries */
@media only screen and (min-device-width: 375px){

  .signUpDiv {
    margin-top: 50%;
    margin-left: 75px;
  }

  #signupHeader {
    filter: drop-shadow(0 0 0.25rem #61892f);
    font-size: 1.5rem;
    margin-left: 70px;
  }

  #loginPlaybtn {
    border-radius: 25px;
    position: absolute;
    top: 350px;
    left: 160px;
  }
}

@media only screen and (min-device-width: 425px){

  .signUpDiv {
    margin-top: 50%;
    margin-left: 85px;
  }

  #signupHeader {
    filter: drop-shadow(0 0 0.25rem #61892f);
    font-size: 1.5rem;
    margin-left: 70px;
  }

  #loginPlaybtn {
    border-radius: 25px;
    position: absolute;
    top: 385px;
    left: 170px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px){
  /* Styles */

  .signUpDiv {
    margin-top: 185px;
    margin-left: 275px;
  }
  #loginPlaybtn {
    left: 365px;
  }

  #signupHeader {
    filter: drop-shadow(0 0 0.25rem #61892f);
    font-size: 1.5rem;
    margin-left: 65px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-device-width: 1024px){
  /* Styles */
  .signUpDiv {
    margin-top: 200px;
    margin-left: 410px;
  }

  #signupHeader {
    filter: drop-shadow(0 0 0.25rem #61892f);
    font-size: 1.5rem;
    margin-left: 10%;
  }

  #loginPlaybtn {
    left: 490px;
    top: 410px;
  }

}

/* Large screens ----------- */
@media only screen and (min-device-width: 1224px){
  /* Styles */
  .signUpDiv {
    margin-top: 200px;
    margin-left: 630px;
  }

  #signupHeader {
    font-size: 1.5rem;
    margin-left: 70px;
  }

  #loginPlaybtn {
    top: 425px;
    left: 715px;
  }
}

@media only screen and (min-device-width: 1440px){
  /* Styles */
  .signUpDiv {
    margin-top: 200px;
    margin-left: 45%;
  }

  #signupHeader {
    /* filter: drop-shadow(0 0 0.25rem #61892f); */
    font-size: 1.5rem;
    margin-left: 70px;
  }

  #loginPlaybtn {
    left: 49%;
    top: 450px;
  }

}

@media only screen and (min-device-width: 2560px){
  /* Styles */
  .signUpDiv {
    margin-top: 200px;
    margin-left: 45%;
  }

  #signupHeader {
    /* filter: drop-shadow(0 0 0.25rem #61892f); */
    font-size: 1.5rem;
    margin-left: 70px;
  }

  #loginPlaybtn {
    left: 48%;
    top: 550px;
  }

}
