* {
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: white;
}

#chatBackDiv {
  margin-top: -555px;
  margin-left: 119px;
}


#chatBackBtn {
  width: 60px;
  -webkit-appearance: none;
  border-radius: 25px;
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
  color: white;
  outline: none;
  border: none;
  background-color: #86c232;
}

/* media queries */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */

  #chatBackDiv {
    margin-top: -555px;
    margin-left: 119px;
  }

  #lobbyContainer {
    width: 100%;
  }
  .inGameStats {
    justify-content: center;
    width: 90%;
    margin: 0 auto !important;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  #chatBackDiv {
    margin-top: -555px;
    margin-left: 345px;
  }

  #lobbyContainer {
    width: 100%;
  }
  .inGameStats {
    justify-content: center;
    width: 90%;
    margin: 0 auto !important;
  }
}


@media only screen and (min-device-width: 1024px) and (max-device-width: 1224px) {
  #chatBackDiv {
    margin-top: -555px;
    margin-left: 460px;
  }
}


@media only screen and (min-device-width: 1224px) and (max-device-width: 1440px) {
  /* Styles  */
  #chatBackDiv {
    margin-top: -555px;
    margin-left: 660px;
  }
}

/* Large screens ----------- */
@media only screen and (min-device-width: 1440px) and (min-device-width: 1824px) {
  /* Styles */
  #chatBackDiv {
    margin-top: -555px;
    margin-left: 895px;
  }
}
